#letra-1 {
    font-size: 20px;
}

#letra-2 {
    font-size: 30px;
}

#letra-3 {
    font-size: 35px;
}

#letra-4 {
    font-size: 25px;
}

#letra-5 {
    font-size: 28px;
}

#letra-6 {
    font-size: 38px;
}

#letra-7 {
    font-size: 32px;
}

#letra-8 {
    font-size: 22px;
}

#letra-9 {
    font-size: 42px;
}

#letra-10 {
    font-size: 36px;
}
